<head>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
    integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <!-- <link rel="stylesheet" href="style.css"> -->
  <link rel="stylesheet" href="https://capitanswitzerland.000webhostapp.com/style.css">
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script> -->
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<div id="dashBoard" class="body">

  <!-- general statics -->
  <div class="thumbnail" id="countdown-wrap">
    <div class="conteiner-title">
      <div class="text-color text-goal">$0</div>
      <div style="text-align: -webkit-center;" class="text-color text-goal">$126,700</div>
      <div style="text-align: right;" class="text-color text-goal">$253,400</div>
    </div>
    <div class="progress">
      <div v-for="item in data" class=" progress-bar progress-bar-striped active"
        v-bind:style="{ width: item.porcent, backgroundColor: item.color}" role="progressbar" aria-valuenow="75"
        aria-valuemin="0" aria-valuemax="100">
      </div>
    </div>
    <div class="goal-stat">
      <span id="porcent" class="goal-number text-color">{{ general.funded }}</span>
      <span class="goal-label">Funded</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number text-color">{{ general.raised }}</span>
      <span class="goal-label text-color">Raised</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number text-color">{{ general.sponsors }}</span>
      <span class="goal-label text-color">Sponsors</span>
    </div>
  </div>
  <!-- general statics -->

  <!-- categories cards -->
  <div class="container-cards row">
    <div v-for="item in data" v-on:click="openModal(item)"
      class="icon card-item thumbnail col-4 col-xl-2 col-lg-2 col-sm-2" v-bind:class="{ 'completed-card': item.total_type == item.total }" >
      <i v-bind:class="item.icon" class="fas" v-bind:style="{ color: item.color }">
      </i>
      <span v-if=" item.total_type !== item.total " class="goal-number text-color" >Total: ${{ (item.total_type) }}</span>
      <span v-if=" item.total_type == item.total " class="goal-number text-color-wh">ready! 
        <i class="fas fa-check-circle"></i>
      </span>
      <span class="goal-number text-color">Raised: ${{ (item.total == null ? '0' : item.total)  }}</span>
      <span class="card-label text-color">{{ item.name }}</span>
    </div>
  </div>
  <!-- categories cards -->

  <!-- table sponsors -->
  <div class="table-responsive table-details container-cards">
    <table class="table table-striped tableFixHead">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Sponsor</th>
        </tr>
      </thead>
      <tbody>
        <tr v-for="item in sponsors">
          <td>{{ item.sponsor }}</td>
        </tr>
      </tbody>
    </table>
    <button v-if="show_more" v-on:click="loadmore(10000)"  type="submit" class="btn btn-more btn-info">More</button>
  </div>
  <!-- table sponsors -->

  <!-- modal -->
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h3 class="modal-title" v-bind:style="{ color: modal.color}">{{ modal.name }}</h3>
        </div>
        <div class="modal-body">
          <div class="conteiner-title">
            <div class="text-color text-goal">$0</div>
            <div style="text-align: -webkit-center;" class="text-color text-goal">{{modal.half}}</div>
            <div style="text-align: right;" class="text-color text-goal">{{modal.total}}</div>
          </div>
          <div class="progress">
            <div class="progress-bar progress-bar-striped active"
              v-bind:style="{ width: modal.porcent, backgroundColor: modal.color}" role="progressbar" aria-valuenow="75"
              aria-valuemin="0" aria-valuemax="100">
            </div>
          </div>
          <div class="table-responsive table-details">
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Sponsor</th>
                </tr>
              </thead>
              <tbody>
                <tr v-for="item in list">
                  <th>{{ item.sponsor }}</th>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>

  </div>
  <!-- modal -->
</div>

<script>
  var vue_dashboard;

  (function () {
    init_Stadistic();
  })();

  function init_Stadistic() {

    vue_dashboard = new Vue({
      el: '#dashBoard',
      data() {
        return {
          data: [],
          sponsors: [],
          general: {
            raised: "$0",
            funded: "0%",
            sponsors: "0"
          },
          modal: {
            name: "",
            color: "#000000",
            porcent: "0%",
            total: "$1000",
            half: "$500",
          },
          list: [],
          days_to_go: 0,
          show_more: true
        }
      },
      methods: {
        loadmore(limit){
          axios.get(`https://capitanswitzerland.000webhostapp.com/get_sponsors.php?limit=${limit}`)
          .then((response) => {
            console.log("table_sponsors");
            console.log(response.data);
            this.sponsors = response.data;
          });
          this.show_more = false;
        },
        getDetails(type) {
          $.ajax({
            method: "POST",
            url: "https://capitanswitzerland.000webhostapp.com/get_details.php",
            data: { type: type },
          }).then((response) => {
            this.setModalValue(response.general);
            this.list = response.body;
          });
        },
        setModalValue(values) {
          if (values.length > 0) {
            this.modal.porcent = values[0].porcent;
            this.modal.total = "$" + values[0].total;
            this.modal.half = "$" + (values[0].total / 2);
          }
        },
        openModal(item) {
          this.modal = JSON.parse(JSON.stringify(item));
          vue_dashboard.getDetails(item.id);
          $('#myModal').modal('show');
        }
      },
      beforeCreate() {
        axios.get('https://capitanswitzerland.000webhostapp.com/statistic.php')
          .then((response) => {
            this.data = response.data.body;
            if (response.data.general.length > 0) {
              this.general = response.data.general[0];
            }
          });
          setTimeout(() => {
            this.loadmore(10);
            this.show_more = true;
          }, 100);
      },
      mounted() {
        $('#myModal').on('hidden.bs.modal', () => {
          this.list = [];
        })
        // this.days_to_go = moment("2019-07-14").diff(moment(), 'days');
      }
    });
  }
</script>