<style>

</style>

<head>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css">
  <link rel="stylesheet" href="style.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.24.0/moment.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<div id="dashBoard" class="body">
  <div class="thumbnail" id="countdown-wrap">
    <div class="conteiner-title">
      <div class="text-color text-goal">$0</div>
      <div style="text-align: -webkit-center;" class="text-color text-goal">$125,000</div>
      <div style="text-align: right;" class="text-color text-goal">$250,000</div>
    </div>
    <div class="progress">
      <div v-for="item in data" class=" progress-bar progress-bar-striped progress-bar-animated"
        v-bind:style="{ width: (item.porcent == null ? '0%' : item.porcent), backgroundColor: item.color}"
        role="progressbar" 
        aria-valuenow="75" 
        aria-valuemin="0" 
        aria-valuemax="100">
      </div>
    </div>
    <div class="goal-stat">
      <span id="porcent" class="goal-number text-color">25%</span>
      <span class="goal-label">Funded</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number text-color">$1,640</span>
      <span class="goal-label text-color">Raised</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number text-color">
        <div>{{ days_to_go }}</div>
      </span>
      <span class="goal-label text-color">Days to Go</span>
    </div>
    <div class="goal-stat">
      <span class="goal-number text-color">38</span>
      <span class="goal-label text-color">Sponsors</span>
    </div>
  </div>
  <div class="container-cards row">
    <div v-for="item in data" class="icon card-item thumbnail col-4 col-xl-2 col-lg-2 col-sm-2">
      <i v-bind:class="item.icon" 
        class="fas"
        v-bind:style="{ color: item.color }">
      </i>
      <span class="goal-number text-color">${{ (item.total == null ? '0' : item.total)  }}</span>
      <span class="card-label text-color">{{ item.name }}</span>
    </div>
  </div>
</div>

<script>
  var vue_dashboard;

  (function () {
    init_Stadistic();
  })();

  function init_Stadistic() {
    vue_dashboard = new Vue({
      el: '#dashBoard',
      data() {
        return {
          data: [],
          days_to_go: 0,
        }
      },
      beforeCreate() {
        axios.get('https://capitanswitzerland.000webhostapp.com/statistic.php')
          .then((response) => {
            this.data = response.data.body;
            console.log("axios ===> ", response.data.body);
          });
      },
      mounted() {
        this.days_to_go = moment("2019-07-14").diff(moment(), 'days');
      }
    });
  }
</script>